<h2>Enter a New Comment</h2>
<label for="comment-title">Title:</label>
<input id="comment-title" name="title" type="text" />
<label for="comment-text">Text:</label>
<input id="comment-text" name="text" type="text" />
<label for="comment-author">Author:</label>
<input id="comment-author" name="author" type="text" />
<input type="submit" value="Submit" />