<section id="new-comment">
<a id="new-comment-link" href="#">New Comment</a>
</section>
<ul>
  <% comments.each(function(comment) { %>
    <li>
      <h4><%= comment.get('title') %> - Posted by: <%= comment.get('author') %></h4>
      <p><%= comment.get('text') %></p>
    </li>
  <% }) %>
</ul>