<h2>Enter a New Cop</h2>
<label for="cop-name">Name:</label>
<input id="cop-name" name="name" type="text" />
<label for="cop-badge-number">Badge number:</label>
<input id="cop-badge-number" name="badge-number" type="text" />
<label for="cop-precinct-number">Precinct number:</label>
<input id="cop-precinct-number" name="precinct-number" type="text" />
<input type="submit" value="Submit" />

